<form class="form-inline">
  <select class="time-format form-control">
    <option value="seconds">seconds</option>
    <option value="thousandths">thousandths</option>
    <option value="hh:mm:ss">hh:mm:ss</option>
    <option value="hh:mm:ss.u">hh:mm:ss + tenths</option>
    <option value="hh:mm:ss.uu">hh:mm:ss + hundredths</option>
    <option value="hh:mm:ss.uuu" selected="selected">hh:mm:ss + milliseconds</option>
  </select>
  <input type="text" class="audio-start input-small form-control">
  <input type="text" class="audio-end form-control">
  <label class="audio-pos">00:00:00.0</label>
</form>
