<form class="form-inline">
  <select class="time-format custom-select mr-sm-2" aria-label="Time format selection">
    <option value="seconds">seconds</option>
    <option value="thousandths">thousandths</option>
    <option value="hh:mm:ss">hh:mm:ss</option>
    <option value="hh:mm:ss.u">hh:mm:ss + tenths</option>
    <option value="hh:mm:ss.uu">hh:mm:ss + hundredths</option>
    <option value="hh:mm:ss.uuu" selected="selected">hh:mm:ss + milliseconds</option>
  </select>
  <label class="sr-only" for="audio_start">Start of audio selection</label>
  <input type="text" class="audio-start form-control mr-sm-2" id="audio_start">
  <label class="sr-only" for="audio_end">End of audio selection</label>
  <input type="text" class="audio-end form-control mr-sm-2" id="audio_end">
  <span class="audio-pos" aria-label="Audio position">00:00:00.0</span>
</form>
