html,
body,
.wrapper,
.container
{
  height: 100%;
}

.wrapper::after {
  content: "";
  background: url(../img/multitrack.png);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.inner {
  background: #fff;
  opacity: 0.9;
  padding: 2em;
  margin-top: 125px;
  border-left: 5px solid #aaa;
}

.main {
  margin: 2em;
}

.campaign {
  float: right;
  margin: 2em;
}