html, body {
  height: 100%;
  margin: 0;
}

.playlist {
  margin: 2em 0;
}

.playlist-time-scale {
  height: 30px;
}

.playlist-tracks {
  background: #E0EFF1;
}

.channel {
  background: grey;
}

.channel-progress {
  background: orange;
}

.cursor {
  border-right: 1px solid #000;
}

.playlist-fade {
  background-color: rgba(0,0,0,0.1);
}

.playlist-top-bar {
  margin: 1em 0;
}

.playlist-bottom-bar {
  margin: 1em 0;
}

.state-cursor,
.state-select {
  cursor: text;
}

.state-fadein .channel {
  cursor: w-resize;
}

.state-fadeout .channel {
  cursor: e-resize;
}

.state-shift .channel {
  cursor: ew-resize;
}

.selection-cursor {
  background: red;
}

.selection-segment {
  background: rgba(0,0,0,0.1);
}

.state-file-drop {
  border: 2px dashed blue;
  height: 100px;
  width: 100%;
}

.state-file-drop.drag-enter {
  border: 2px solid orange;
}

.channel-wrapper .controls {
  background: white;
  text-align: center;
}

.channel-wrapper.silent .channel {
  opacity: 0.3;
}

.channel-wrapper .controls header {
  overflow: hidden;
  color: white;
  background-color: blueviolet;
  margin-bottom: 1em;
}

.controls label {
  margin: 1em auto;
  width: 100%;

  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.controls label:before {
  content: "\f027";
  color: black;
  font-size: 18px;
  padding-right: 5px;
  -moz-osx-font-smoothing: grayscale;
}

.controls label:after {
  content: "\f028";
  color: black;
  font-size: 18px;
  padding-left: 5px;
}

.controls input[type=range]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  width: 75%;
}

.controls input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  padding: 1px;
}

.controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -5px;
  cursor: ew-resize;
}

.controls input[type=range]:focus {
  outline: none;
}

.controls input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.controls input[type=range]::-moz-range-track {
  height: 8px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  padding: 1px;
}

.controls input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -5px;
  cursor: ew-resize;
}

.controls input[type=range]:focus::-moz-range-track {
  background: #ccc;
}
