html, body {
  height: 100%;
  margin: 0;
}

.playlist-wrapper {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.playlist {
  overflow: hidden;
  margin: 2em 0;
}

.playlist-time-scale {
  position: relative;
  left: 0;
  right: 0;
  height: 30px;
}

.playlist-time-scale canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.playlist-time-scale div {
  position: absolute;
}

.playlist-tracks {
  position: relative;
  overflow: auto;
}

.channel-wrapper {
  position: relative;
}

.channel {
  position: absolute;
  margin: 0;
  padding: 0;
}

.channel canvas {
  position: absolute;
  top: 0;
  padding:0;
  margin:0;
}

.playlist-fade {
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  z-index: 1000;
}

.playlist-top-bar {
  margin: 1em 0;
}

.state-select .channel {
  cursor: text;
}

.state-shift .channel {
  cursor: move;
}