---
layout: page
title: Individual Track State
excerpt: Control the different tracks in the playlist by enabling or disabling interaction states.
lead: Vocals track can not be shifted in time, only the Drums track.
permalink: stationarytrack.html
javascript: stationary-track.js
audio_title: Starlight
audio_artist: Muse
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/states.html %}
  </div>
</div>
<div id="playlist"></div>
