---
layout: page
title: Track Fades
lead: Set fade in and fade out.
excerpt: Set the track's fade in and fade out. Choose from linear, logartihmic, s-curve and exponential fade types.
permalink: fades.html
javascript: fades.js
audio_title: Starlight
audio_artist: Muse
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/states.html %}
    {% include buttons/fades.html %}
  </div>
</div>
<div id="playlist"></div>
<div class="playlist-bottom-bar">
  {% include timeformat.html %}
</div>
