---
layout: page
title: Working With Local Files
lead: Drag one or many audio files into the bottom container!
excerpt: Work with local files added in the playlist. File objects can be added using the EventEmitter.
permalink: newtracks.html
javascript: newtracks.js
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/zoom.html %}
    {% include buttons/states.html %}
    {% include buttons/fades.html %}
  </div>
</div>
<div id="playlist"></div>
<div class="playlist-bottom-bar">
  {% include timeformat.html %}
  <div class="track-drop"></div>
</div>
<div class="loading-data"></div>
