---
layout: page
title: Record An Audio Track
lead: Record a track in MediaRecorder enabled browsers.
 Allows recording over tracks, shows real-time recording progress.
excerpt: Waveform Playlist experimental recording feature using MediaRecorder.
permalink: record.html
javascript: record.js
---

<p>Experimental recording feature using
  <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder">
    MediaRecorder</a>, Tested in Firefox >= 41.0.2 & Chrome >= 58</p>
<p><em>PAGE NEEDS HTTPS ACCESS</em> <small>(or localhost is also fine)</small></p>
<p>Can record a track on top of the previously recorded track!
  Drop some tracks into the container below if
  you'd like to try recording over them.</p>

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/zoom.html %}
    {% include buttons/states.html %}
    {% include buttons/fades.html %}
  </div>
</div>
<div id="playlist"></div>
<div class="playlist-bottom-bar">
  {% include timeformat.html %}
  <div class="track-drop"></div>
  <div class="loading-data"></div>
</div>
