---
layout: page
title: Stem Tracks with exclusive solo
lead: Mute or exclusive solo the different tracks that make up the composition.
excerpt: Create a playlist with multiple stem tracks. Mute or solo the different stems in the playlist.
permalink: exclusive-solo.html
javascript: exclusivesolo.js
audio_title: Starlight
audio_artist: Muse
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
  </div>
</div>
<div id="playlist"></div>
<form class="form-inline">
  {% include sliders/mastergain.html %}
  {% include checkboxes/automaticscroll.html %}
</form>
<div class="sound-status"></div>
<div class="loading-data"></div>
