---
layout: page
title: Playlist Annotations
excerpt: Annotate the playlist with timed text segments. Drag boundries to adjust timing. Enhance the annotation editing process with custom user defined functionality. Aeneas support.
lead: Annotate the playlist with timed text segments. Annotations will scroll and highlight during playback. Drag the annotation's boundries in the UI to adjust time points. Enhance the annotation editing process with custom user defined functionality. Optionally edit live the annotation text using contenteditable.
permalink: annotations.html
javascript: annotations.js
audio_title: Sonnet
audio_artist: LibriVox
image: https://raw.githubusercontent.com/naomiaro/waveform-playlist/master/img/annotations.png
image_width: 1008
image_height: 401
---

<div class="lead mb-4">Currently supporting input and output in the <a href="https://github.com/readbeyond/aeneas">Aeneas</a> JSON format.</div>

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/zoom.html %}
    <div class="btn-group">
      <button type="button" title="Download the annotations as json" class="btn-annotations-download btn btn-outline-dark">Download JSON</button>
    </div>
  </div>
</div>
<div id="playlist"></div>
<form class="form-inline">
  {% include sliders/mastergain.html %}
  {% include checkboxes/automaticscroll.html %}
  {% include checkboxes/continuousplay.html %}
  {% include checkboxes/linkendpoints.html %}
</form>
{% include timeformat.html %}

<br>
<br>
<p>
  *The annotation plugin has been sponsored by a fond Italian TED volunteer transcriber hoping to make the transcription process of TEDx talks easier and more fun.
</p>
