---
layout: page
title: Tone.js Effects + Custom Webaudio Graphs
lead: Add effects to each track or analyse the master output. Frequency bar graph code <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Visualizations_with_Web_Audio_API">adapted from MDN</a>.
excerpt: Create your own custom webaudio graph with Tone.js effects or other libraries compatible with hooking into the web audio graph..
permalink: effects.html
javascript: effects.js
audio_title: Starlight
audio_artist: Muse
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/random.html %}
  </div>
  <div><canvas class="visualizer" width="1000" height="100"></canvas></div>
</div>
<div id="playlist"></div>
<form class="form-inline">
  {% include sliders/mastergain.html %}
</form>
{% include timeformat.html %}
<div class="track-drop"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js" integrity="sha512-gK8OnTXn8cTYkHqYX+bhzjQ1rClAPuG2eMy+oRuV26mSuE0EbZeULFKdyc/YGX1Z/JsC06FXxQttdX4aahjSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
