---
layout: page
title: Full Waveform Editor
lead: Every control and state available.
excerpt: Waveform Playlist, the multitrack javascript web audio editor and player. Set audio cue in and cue out. Set linear, exponential, logarithmic, and s-curve fades. Shift audio in time. Zoom in and zoom out on the waveform. Play, stop, pause and seek inside the audio tracks.
permalink: web-audio-editor.html
javascript: web-audio-editor.js
audio_title: Starlight
audio_artist: Muse
---

<div id="top-bar" class="playlist-top-bar">
  <div class="playlist-toolbar">
    {% include buttons/playback.html %}
    {% include buttons/zoom.html %}
    {% include buttons/states.html %}
    {% include buttons/fades.html %}
    {% include buttons/random.html %}
  </div>
</div>
<div id="playlist"></div>
<div class="playlist-bottom-bar">
  {% include timeformat.html %}
  <form class="form-inline">
    <div class="form-group">
      <label for="master-gain">Master Volume</label>
      <input type="range" min="0" max="100" value="100" class="master-gain form-control" id="master-gain">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="automatic-scroll"> Automatic Scroll
      </label>
    </div>
  </form>
  <form class="form-inline">
    <div class="control-group">
      <label for="time">Seek to time :</label>
      <input type="number" class="form-control" value="14" id="seektime"/>
      <button type="button" class="btn btn-primary btn-seektotime">Seek !</button>
    </div>
  </form>
  <div class="sound-status"></div>
  <div class="track-drop"></div>
  <div class="loading-data"></div>
</div>
