<div class="btn-group">
  <button type="button" class="btn-pause btn btn-outline-warning" title="Pause">
    <i class="fas fa-pause"></i>
  </button>
  <button type="button" class="btn-play btn btn-outline-success" title="Play">
    <i class="fas fa-play"></i>
  </button>
  <button type="button" class="btn-stop btn btn-outline-danger" title="Stop">
    <i class="fas fa-stop"></i>
  </button>
  <button
    type="button"
    class="btn-rewind btn btn-outline-success"
    title="Rewind"
  >
    <i class="fas fa-fast-backward"></i>
  </button>
  <button
    type="button"
    class="btn-fast-forward btn btn-outline-success"
    title="Fast forward"
  >
    <i class="fas fa-fast-forward"></i>
  </button>
  <button
    type="button"
    class="btn-record btn btn-outline-primary disabled"
    title="Record"
  >
    <i class="fas fa-microphone"></i>
  </button>
</div>
