<div class="btn-group btn-playlist-state-group">
  <button
    type="button"
    class="btn-cursor btn btn-outline-dark active"
    title="Select cursor"
  >
    <i class="fas fa-headphones"></i>
  </button>
  <button
    type="button"
    class="btn-select btn btn-outline-dark"
    title="Select audio region"
  >
    <i class="fas fa-italic"></i>
  </button>
  <button
    type="button"
    class="btn-shift btn btn-outline-dark"
    title="Shift audio in time"
  >
    <i class="fas fa-arrows-alt-h"></i>
  </button>
  <button
    type="button"
    class="btn-fadein btn btn-outline-dark"
    title="Set audio fade in"
  >
    <i class="fas fa-long-arrow-alt-left"></i>
  </button>
  <button
    type="button"
    class="btn-fadeout btn btn-outline-dark"
    title="Set audio fade out"
  >
    <i class="fas fa-long-arrow-alt-right"></i>
  </button>
</div>
