<div class="btn-group btn-playlist-state-group">
  <button
    type="button"
    class="btn-cursor btn btn-outline-dark active"
    title="Select cursor"
  >
    <i class="bi bi-headphones"></i>
  </button>
  <button
    type="button"
    class="btn-select btn btn-outline-dark"
    title="Select audio region"
  >
    <i class="bi bi-type-italic"></i>
  </button>
  <button
    type="button"
    class="btn-shift btn btn-outline-dark"
    title="Shift audio in time"
  >
    <i class="bi bi-arrows-expand"></i>
  </button>
  <button
    type="button"
    class="btn-fadein btn btn-outline-dark"
    title="Set audio fade in"
  >
    <i class="bi bi-arrow-left"></i>
  </button>
  <button
    type="button"
    class="btn-fadeout btn btn-outline-dark"
    title="Set audio fade out"
  >
    <i class="bi bi-arrow-right"></i>
  </button>
</div>
