node_modules/
.next/
# compiled files
/build
.sass-cache
/styles
lib
.DS_Store

# Source maps
*.js.map

# Storybook
*storybook.log
storybook-static
website/static/storybook/

# Package build output
packages/*/dist/
