a {
  color:#1d70b8;
  cursor: pointer;
  text-decoration: underline;
}
a:link {
  color: #1d70b8;
}
a:visited {
  color: #4c2c92;
}
a:hover {
  color: #003078;
}
a:active {
  color: #0b0c0c;
}
a:focus {
  color: #0b0c0c;
}

.breadcrumb {
  background-color: #f4f4f4;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.playlist {
  margin: 2em 0;

  .playlist-time-scale {
    height: 30px;
  }

  .playlist-tracks {
    background: #e0eff1;
  }

  .channel {
    background: grey;
  }

  .channel-progress {
    background: orange;
  }

  .cursor {
    background: black;
  }

  .wp-fade {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .state-cursor,
  .state-select {
    cursor: text;
  }

  .state-fadein {
    cursor: w-resize;
  }

  .state-fadeout {
    cursor: e-resize;
  }

  .state-shift {
    cursor: ew-resize;
  }

  .selection.point {
    background: red;
  }

  .selection.segment {
    background: rgba(0, 0, 0, 0.1);
  }

  .channel-wrapper.silent .channel {
    opacity: 0.3;
  }

  .controls {
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.2rem;

    .track-header {
      overflow: hidden;
      color: black;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.2rem;
      font-size: 0.65rem;

      button {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      padding: 0 1rem;
      margin-bottom: 0.2rem;
    }

    label:before {
      color: black;
      font-size: 18px;
      padding-right: 5px;
      -moz-osx-font-smoothing: grayscale;
    }

    label:after {
      color: black;
      font-size: 18px;
      padding-left: 5px;
    }

    label.volume:before {
      content: "\f027";
    }

    label.volume:after {
      content: "\f028";
    }

    label.stereopan:before {
      content: "L";
    }

    label.stereopan:after {
      content: "R";
    }

    input[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      display: inline-block;
      width: 75%;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px;
    }

    input[type="range"]::-moz-range-track {
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: goldenrod;
      margin-top: -5px;
      cursor: ew-resize;
    }

    input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: goldenrod;
      margin-top: -5px;
      cursor: ew-resize;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #bbb;
    }

    input[type="range"]:focus::-moz-range-track {
      background: #bbb;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
      border: 2px solid black;
    }

    input[type="range"]:focus::-moz-range-thumb {
      border: 2px solid black;
    }
  }

  .annotations {
    .annotations-boxes {
      text-align: center;
    }

    .annotation-box {
      border: 2px dashed grey;
      padding: 0 10px;

      .resize-handle {
        background: grey;
        opacity: 0.3;
        cursor: ew-resize;
      }

      .id {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .annotations-text {
      font-size: 19px;
      font-weight: 300;
      margin-top: 1em;
      height: 160px;
      overflow-x: hidden;
      overflow-y: auto;

      .annotation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;

        span {
          margin: 0.3rem 0.6rem;

          &:last-of-type {
            margin-right: 1.2rem;
          }
        }

        .annotation-id {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-start {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-end {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-lines {
          flex-grow: 10;
        }

        .annotation-actions {
          flex-basis: auto;
          width: 85px;
          text-align: right;
          font-size: 16px;

          i {
            margin-right: 0.6rem;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              color: orange;
              cursor: pointer;
            }
          }
        }
      }
    }

    .current {
      background-color: #ebf4f6;
    }
  }
}
