.playlist {
  margin: 2em 0;

  .playlist-time-scale {
    height: 30px;
  }

  .playlist-tracks {
    background: #E0EFF1;
  }

  .channel {
    background: grey;
  }

  .channel-progress {
    background: orange;
  }

  .cursor {
    background: black;
  }

  .wp-fade {
    background-color: rgba(0,0,0,0.1);
  }

  .state-cursor,
  .state-select {
    cursor: text;
  }

  .state-fadein {
    cursor: w-resize;
  }

  .state-fadeout {
    cursor: e-resize;
  }

  .state-shift {
    cursor: ew-resize;
  }

  .selection.point {
    background: red;
  }

  .selection.segment {
    background: rgba(0,0,0,0.1);
  }

  .channel-wrapper.silent .channel {
    opacity: 0.3;
  }

  .controls {

    background: white;
    text-align: center;

    header {
      overflow: hidden;
      color: white;
      background-color: blueviolet;
      margin-bottom: 1em;
      height: 20px;
    }

    label {
      margin: 1em auto;
      width: 100%;

      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }

    label:before {
      content: "\f027";
      color: black;
      font-size: 18px;
      padding-right: 5px;
      -moz-osx-font-smoothing: grayscale;
    }

    label:after {
      content: "\f028";
      color: black;
      font-size: 18px;
      padding-left: 5px;
    }

    input[type=range]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      display: inline-block;
      width: 75%;
    }

    input[type=range]::-webkit-slider-runnable-track {
      height: 8px;
      background: #ddd;
      border: none;
      border-radius: 3px;
      padding: 1px;
    }

    input[type=range]::-moz-range-track {
      height: 8px;
      background: #ddd;
      border: none;
      border-radius: 3px;
      padding: 1px;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: goldenrod;
      margin-top: -5px;
      cursor: ew-resize;
    }

    input[type=range]::-moz-range-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: goldenrod;
      margin-top: -5px;
      cursor: ew-resize;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #ccc;
    }

    input[type=range]:focus::-moz-range-track {
      background: #ccc;
    }
  }

  .annotations {
    .annotations-boxes {
      text-align: center;
    }

    .annotation-box {
      border: 2px dashed grey;
      padding: 0 10px;

      .resize-handle {
        background: grey;
        opacity: 0.3;
        cursor: ew-resize;
      }

      .id {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .annotations-text {
      font-size: 19px;
      font-weight: 300;
      margin-top: 1em;
      height: 160px;
      overflow-x: hidden;
      overflow-y: auto;

      .annotation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;

        span {
          margin: 0.3rem 0.6rem;

          &:last-of-type {
            margin-right: 1.2rem;
          }
        }

        .annotation-id {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-start {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-end {
          font-size: 16px;
          line-height: 27px;
        }

        .annotation-lines {
          flex-grow: 10;
        }

        .annotation-actions {
          flex-basis: auto;
          width: 80px;
          text-align: right;
          font-size: 16px;

          i {
            margin-right: 0.6rem;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              color: orange;
              cursor: pointer;
            }
          }
        }
      }
    }

    .current {
      background-color: #EBF4F6;
    }
  }
}
