---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "playlist";

.playlist .vocals {
  header {
    background-color: green;
  }

  background-color: #c0dce0;
}

.track-drop {
  border: 2px dashed blue;
  height: 100px;
  width: 200px;
  margin: 1em 0;

  &::before {
    content: "Drop audio file(s) here!";
  }

  &.drag-enter {
    border: 2px solid orange;
  }
}

footer {
  margin-top: 2em;
}